td {
  img {
    width: 50px;
    padding: 10px 15px 10px 0;
  }
}

.bg-primary {
  --bs-bg-opacity: 0.35;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

th {
  font-weight: bold;
}
