<mat-card>
  <mat-card-title class="d-flex justify-content-center">Product list</mat-card-title>
  <mat-card-content class="d-flex justify-content-center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="bg-primary bg-gradient"> Image </th>
        <td mat-cell class="col-md-1" *matCellDef="let element"><img src="{{element.image}}"></td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="bg-primary bg-gradient"> Title </th>
        <td mat-cell class="col-md-8" *matCellDef="let element">{{element.title}}</td>
      </ng-container>
      <ng-container matColumnDef="category" >
        <th mat-header-cell *matHeaderCellDef class="bg-primary bg-gradient"> Category </th>
        <td mat-cell class="col-md-2" *matCellDef="let element">{{element.category}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="bg-primary bg-gradient "> Price </th>
        <td mat-cell class="col-md-1" *matCellDef="let element">{{element.price}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-primary bg-gradient"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
