<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmitted(userForm)">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="userForm.get('email')!.invalid">email is invalid</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="userForm.get('username')!.invalid">username is invalid</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="userForm.get('password')!.invalid">password is invalid</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="name">
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Firstname</mat-label>
            <input matInput type="text" id="firstname" value="firstname" formControlName="firstname"
                   class="form-control" required>
            <mat-error *ngIf="userForm.get('name')!.get('firstname')!.invalid">firstname is invalid</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Lastname</mat-label>
            <input matInput type="text" id="lastname" value="lastname" formControlName="lastname" class="form-control"
                   required>
            <mat-error *ngIf="userForm.get('name')!.get('lastname')!.invalid">lastname is invalid</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div formGroupName="address">
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>City</mat-label>
            <input matInput type="text" id="city" value="city" formControlName="city"
                   class="form-control" required>
            <mat-error *ngIf="userForm.get('address')!.get('city')!.invalid">city is invalid</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Street</mat-label>
            <input matInput type="text" id="street" value="street" formControlName="street" class="form-control"
                   required>
            <mat-error *ngIf="userForm.get('address')!.get('street')!.invalid">street is invalid</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Number</mat-label>
            <input matInput type="text" id="number" value="number" formControlName="number"
                   class="form-control" required>
            <mat-error *ngIf="userForm.get('address')!.get('number')!.invalid">number is invalid</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Zipcode</mat-label>
            <input matInput type="text" id="zipcode" value="zipcode" formControlName="zipcode" class="form-control"
                   required>
            <mat-error *ngIf="userForm.get('address')!.get('zipcode')!.invalid">zipcode is invalid</mat-error>
          </mat-form-field>


          <div formGroupName="geolocation">
            <div>
              <mat-form-field appearance="fill" class="form-group">
                <mat-label>Lat</mat-label>
                <input matInput type="text" id="lat" value="lat" formControlName="lat"
                       class="form-control" required>
                <mat-error *ngIf="userForm.get('address')!.get('geolocation')!.get('lat')!.invalid">lat is invalid</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="form-group">
                <mat-label>Long</mat-label>
                <input matInput type="text" id="long" value="long" formControlName="long" class="form-control"
                       required>
                <mat-error *ngIf="userForm.get('address')!.get('geolocation')!.get('long')!.invalid">long is invalid</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput type="text" placeholder="Phone" formControlName="phone" required>
          <mat-error *ngIf="userForm.get('phone')!.invalid">phone is invalid</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>


  </mat-card-content>
</mat-card>
